[submodule "roles/role_bi_packages_minimum"]
	path = roles/role_bi_packages_minimum
	url = https://github.com/steuerfrau/role_bi_packages_minimum.git
	branch = prod
[submodule "roles/role_bi_packages_max"]
	path = roles/role_bi_packages_max
	url = https://github.com/steuerfrau/role_bi_packages_max.git
	branch = prod
[submodule "roles/role_bi_packages_net"]
	path = roles/role_bi_packages_net
	url = https://github.com/steuerfrau/role_bi_packages_net.git
	branch = prod
[submodule "roles/role_bi_sysctl"]
	path = roles/role_bi_sysctl
	url = https://github.com/steuerfrau/role_bi_sysctl.git
	branch = prod
[submodule "inventories"]
	path = inventories
	url = https://github.com/steuerfrau/inventories.git
	branch = testing
[submodule "roles/role_bi_hostname"]
	path = roles/role_bi_hostname
	url = https://github.com/steuerfrau/role_bi_hostname.git
	branch = prod
